h3 Confirmation de votre trajet

p Bonjour, 
p Vous venez de renseigner votre trajet sur la plateforme #[strong Mobilan] et nous vous en remercions. 
| Vous conserverez ce message pour le rediriger au service Relations Internationales (RI) de Polytech Montpellier, email :
p polytech-international@umontpellier.fr.
p La procédure devra être renouvelée pour le trajet retour.
p Cordialement,
p L’équipe Mobilan



h3 Confirmation of your travel 

p Hello, 
p You have just filled in your travel information on the #[strong Mobilan] platform and we thank you for it. 
| You will keep this message to redirect it to the International Relations (IR) department of Polytech Montpellier, email :
p polytech-international@umontpellier.fr.
p The procedure will have to be repeated for the return journey.
p Yours sincerely,
p The Mobilan team. 

img(src='img/ddrs.png')