h3 Confirmation de votre trajet

p Bonjour, vous venez de renseigner votre trajet sur la plateforme #[strong mobilan] et nous vous en remerciant.
| Vous pouvez transmettre ce mail au service RI comme preuve.
p Cordialement,
img(src='img/ddrs.png')