h3 Votre mobilité internationnale touche à sa fin.

p Bonjour, dans le cadre de la politique DDRS de l'école, 
    |nous vous demandons de bien vouloir renseigner, si ce n'est pas encore fait, 
    |les trajets et moyen de transport pour revenir de votre lieu de mobilité sur la plateforme
    |#[strong mobilan.]
p Plateforme accessible en #[a(href="http://carbone.polytech.umontpellier.fr/") cliquant ici.]
p Cordialement,
img(src='img/ddrs.png')